__pycache__/
*.pyc
.DS_Store
.venv/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
.cache
.ipynb_checkpoints
.python-version
.vscode/
env/
.venv/
venv/
ENV/
